.flexbox-2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	text-align: center;

	width: 90vw;

	/* padding: 5vh 0; */
	margin: 5vh auto;
}

.flexbox-2-header {
	font-size: min(14vmin, 6vmax);
	line-height: min(14vmin, 6vmax);
	margin: 5vh;
}

.flexbox-2 img {
	width: 90vw;
}