/* .flexbox-1 */
.flexbox-1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	text-align: center;

	padding-top: 10vh;
	margin-bottom: 5vh 0;
	height: 95vh;
}

.flexbox-1.portrait {
	height: 90vh;
}


/* flexbox-1-1 */
.flexbox-1-1 {
	height: 50vh;
	flex: 1;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-content: center;
	/* max-height: 50vh; */
}

.flexbox-1-1.portrait {
	height: 60vh;
	flex-direction: column;
}

.flexbox-1-1.landscape {
	flex-direction: row;
}


/* flexbox-1-1 logo */
.flexbox-1-1 .logo.portrait {
	max-width: 80vw;
	height: 50vw;
}

.flexbox-1-1 .logo.landscape {
	max-width: 50vw;
	height: min(30vw, 50vh);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* counter */
.counter-div {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-content: center;
	height: 35vh;
	width: 90vw;
}

.flexbox-1.portrait .counter-div {
	height: 30vh;
}

.flexbox-1 .name {
	font-size: min(16vmin, 7.2vmax);
	line-height: min(16vmin, 7.2vmax);
	margin: 2vh 0;
}

.flexbox-1 .name-text {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flexbox-1 .counter-text {
	font-size: min(6vmin, 4vmax);
	line-height: min(6vmin, 4vmax);
}

.flexbox-1 .counter {
	font-size: min(16vmin, 8vmax);
	line-height: min(16vmin, 8vmax);
	color: #DC3545FF;
}

.flexbox-1 .counter-2 {
	font-size: min(6vmin, 4vmax);
	line-height: min(6vmin, 4vmax);
}