.flexbox-3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	text-align: center;

	margin: 5vh auto;
}

.flexbox-3.portrait {
	height: 95vh;
}

.flexbox-3.landscape {
	height: 100vh;
}

.flexbox-3 .header {
	margin: 5vh;
	font-size: min(9vmin, 4.5vmax);
	line-height: min(9vmin, 4.5vmax);
}

.flexbox-3 label {
	margin: 2vh;
	font-size: min(4vmin, 3vmax);
	line-height: min(4vmin, 3vmax);
}

.flexbox-3 button {
	margin: 5vh;
	margin-top: 3vh;
	height: 6vh;
	font-size: min(2.5vmin, 1.75vmax);
	line-height: min(2.5vmin, 1.75vmax);
}

.flexbox-3 textarea {
	height: 15vh;
	font-size: min(2.5vmin, 1.75vmax);
	line-height: min(2.5vmin, 1.75vmax);
}

.flexbox-3 input {
	height: 6vh;
	font-size: min(2.5vmin, 1.75vmax);
	line-height: min(2.5vmin, 1.75vmax);
}