.startBtn {
	display: table-cell;
	vertical-align: middle;
	margin: auto 0;
}

.game .bg-image {
	background-image: url(/Images/Game/bg.png);
	filter: blur(5px);
	background-position: left;
}


.logo {
	position: fixed;
	z-index: 9997;
	padding: 0;
}

.logo img {
	width: 10vw;
}