.navbarMobile {
	padding-top: 5vh;
	z-index: 9000;
	position: fixed;
	display: flex;
	flex-direction: column;
	left: -50vmin;
	width: 50vmin;
	top: 0;
	transition-duration: 0.3s;
	font-size: min(7vmax, 4vmin);
	background-color: #DC3545;
	height: 100vh;
}

.navbarMobile a {
	transition: 0.3s;
	padding: 3vmin 2vmax;
	width: 100%;
	text-decoration: none;
	font-size: 100%;
	color: transparent;
	background-color: #DC3545
}

.navbarMobile a p {
	font-size: min(7vmax, 4vmin);
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.menuVisible {
	left: 0;
}

.menuVisible a {
	color: white;
}

.bg-blur {
	z-index: 8999;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transition-duration: 0.3s;
	background: rgba(0, 0, 0, 0.8);
	filter: blur(0px);
}

.bg-blur.Visible {
	display: block;
}

.bg-blur.Invisible {
	display: none;
}

.toggleMenu {
	position: absolute;
	padding: 0.5vh;
	width: min(15vh, 15vw);
	right: max(-20vh, -20vw);
	top: 2.5%;
	transition-duration: 0.3s;
	background-color: #F4BDB2;
	border-radius: 25%;
}

.toggleMenu.Visible {
	content: url('./multiply.png');
}

.toggleMenu.Invisible {
	content: url('./menu.png');
}