.navbar {
	transition: 0.3s;
	top: 5vh;

	height: 90vh;
	z-index: 8999;
	position: fixed;
}

.navbar a {
	position: absolute;
	z-index: 9999;
	padding: 2vh;
	width: 30vw;
	height: 13vh;
	left: -25vw;

	text-decoration: none;
	color: transparent;

	transition: 0.3s;
	border-radius: 0 6.5vh 6.5vh 0 / 0 6.5vh 6.5vh 0;
	background-color: #DC3545;
}

.navbar a:hover {
	left: 0;
	color: white;
}

.navbar a p {
	transition: 0.1s;
	font-size: min(7vmax, 4vmin);
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

/* TODO Universal positioning for navbar links */

#home {
	top: 3.2vh;
}

#mem {
	top: 17.6vh;
}

#centres {
	top: 32vh;
}

#recomendations {
	top: 46.4vh;
}

#contact_us {
	top: 60.8vh;
}

#test {
	top: 75.2vh;
}