 /* TODO: Responsive navbar */

.navbar a {
	z-index: 9999;
  position: absolute;
  left: -250px;
  transition: 0.3s;
  padding: 15px;
  width: 300px;
  text-decoration: none;
  font-size: 20px;
  color: transparent;
  border-radius: 0 5px 5px 0;
  background-color: #DC3545
}

.navbar {
	z-index: 8999;
	position: fixed;
	top: 0;
}

.navbar a:hover {
  left: 0;
  color: white;
}

/* TODO: Universal positioning for navbar links */

#home {
  top: 20px;
}

#game {
  top: 90px;
}

#test {
  top: 160px;
}