.footer {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	background-color: #DC3545;
	color: #fff8e1;

	padding: 1.5vh;

	font-size: min(3.5vmax, 2vmin);
}

.footer > div {
	width: 17vw;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footer .contact {
	width: 45vw;
}

.footer a {
	color: #fff8e1;
}