.footer {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	background-color: #DC3545;
	color: #fff8e1;

	padding: 1.5vh;

	font-size: min(4vmax, 2vmin);
}

.footer > div {
	width: 20vw;
}

.footer a {
	color: #fff8e1;
}